pytgcalls==3.0.0.dev22
python-dotenv
git+https://github.com/XtomiX/pyrogram
tgcrypto
pytz
psutil
motor
dnspython
GitPython
pykeyboard
bs4
Pillow==9.5.0
pymediainfo
opencv-python-headless
requests
unidecode
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
telegraph
pyromod
openai
youtube-search-python
yt-dlp
wget
python-dateutil
emoji
